@import 'tailwindcss';

input[type="text"],
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.active{
    background-color: oklch(79.5% 0.184 86.047);
    border-radius: 4px;
    color: oklch(21% 0.034 264.665);
    font-weight: bold;
}

.active_zoom{
    background-color: oklch(79.5% 0.184 86.047);
    color: oklch(21% 0.034 264.665);
}